/*.classpath
/*.project
/ecps-protal/target/m2e-wtp/web-resources/META-INF/maven
/ecps-console/target/m2e-wtp
/ecps-core/target/classes/META-INF/maven
/ecps-file/target/m2e-wtp
/ecps-protal/target/m2e-wtp
